<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Create Trip</legend>
            <div class="form-group">
                <label for="from" class="col-lg-2 control-label">From</label>

                <div class="col-lg-10">
                    <select name="from" id="from" ng-model="trip.from">
                        <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">To</label>

                <div class="col-lg-10">
                    <select name="to" id="to" ng-model="trip.to">
                        <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="seats" class="col-lg-2 control-label">Available Seats</label>

                <div class="col-lg-10">
                    <input type="number" ng-model="trip.availableSeats" class="form-control" value="1" id="seats"
                           placeholder="Available Seats">

                </div>
            </div>
            <div class="form-group">
                <label for="departureTime" class="col-lg-2 control-label">Departure Time</label>

                <div class="col-lg-10">
                    <input type="date" ng-model="trip.departureTime" class="form-control" value="1" id="departureTime"
                           placeholder="Available Seats">

                </div>
            </div>
        </fieldset>
    </form>
    <button class="pull-right btn btn-info" ng-click="create(trip)">Create</button>
</div>
